{% extends 'base.html.twig' %}

{% block title %}Modifier son mot de passe - camer237{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a><br/>
    <hr>
    {% if notification %}
        <div class="alert alert-danger">{{ notification }}</div>
    {% endif %}
    {{ form (form) }}
    <hr>
{% endblock %}
