{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Camer237{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande sur la boutique Camer237</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Choisir mon adresse de livraison</b>
            {% set formHtml %}
                {{ form(form) }}
            {% endset %}

            {{ formHtml | replace({'[br]' : '<br/>'}) | raw }}
            <b>Choisir mon transporteur</b>
        </div>
        <div class="col-md-6">
            <b>Récap de ma commande</b>
            <b>Bouton pour payer</b>
        </div>
    </div>
{% endblock %}
